.title {
    font-size: 50px;
}

.mensagem {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 3px;
}

.not_selected {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            
}

.up_down_delete {
    cursor: pointer;
}

.message-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 120px;
    align-items: flex-start;
    flex-direction: column;
}

.form-write-message{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    min-width: 500px;
    min-height: 60px;
    resize: none;
    padding: 20px;
    margin: 20px
}

button {
    height: 30px;
    width: 90px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 15px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.719);
}

button:focus {
    background-color: rgba(0, 0, 0, 0.575);
}

